<div class="form-data">
    <form action="<%= `/courses/${course._id}/update?_method=PUT`%>" method="POST">        <label for="txtTitle">Title</label>
        <input type="text"name="title" id="txtTitle" autofocus required value="<%= course.title %>"> 

        <label for="txtDescription">Description</label>
        <input type="text"name="description" id="txtDescription" required value="<%= course.description %>">

        <label for="txtMaxStudent">Maximum Students</label>
        <input type="text"name="maxStudent" id="txtMaxStudent" required value="<%= course.maxStudent %>">

        <label for="txtCost">Cost</label>
        <input type="text"name="cost" id="txtCost" required value="<%= course.cost %>">

        <button type="submit">Save</button>
    </form>
</div>